.benefits-list {
  @include list-reset;
}

.benefits-list__item {
  display: flex;
  flex-direction: column;
  padding-top: 33px;

  background-color: $grey--light;
}

.benefits-list__number {
  position: relative;

  margin: 0;

  &::before {
    content: "";

    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 25px);

    height: 2px;
    width: 9px;

    background-color: $grey--darker;
  }

  &::after {
    content: "";

    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% + 15px);

    height: 2px;
    width: 8px;

    background-color: $grey--darker;
  }
}

.benefits-list__reason {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;

  order: -1;
}

.benefits-list__explanation {
  margin: 0;
  padding-top: 15px;

  font-size: 14px;
  line-height: 21px;
}

.benefits-list__image {
  width: 320px;
  height: 260px;
  margin-top: 42px;
}

.benefits-list__item--common {
  padding-top: 0;
  padding-bottom: 35px;
  padding-left: 69px;

  text-align: left;

  background-color: $theme-background-color;

  &-with-top-padding {
    padding-top: 33px;
  }
}

.benefits-list__item--key-point {
  background-color: $theme-color;
  color: $sub-text-color;
}

.benefits-list__number--white-lines {
  &::before,
  &::after {
    background-color: $theme-background-color;
  }
}

.benefits-list__item--general-point {
  margin-bottom: 0;
  padding-bottom: 32px;

  border-top: 1px solid $grey;

  &-no-top-border {
    border-top: none;
  }
}

@media (min-width: 768px) {
  .benefits-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .benefits-list__item {
    width: 256px;
    padding: 0;
  }

  .benefits-list__item--right-image {
    flex-direction: row;
  }

  .benefits-list__item--left-image {
    flex-direction: row-reverse;
  }

  .benefits-list__text-column {
    display: flex;
    flex-direction: column;
    width: 256px;
    padding: 46px;
    padding-bottom: 35px;

    box-sizing: border-box;
  }

  .benefits-list__image {
    width: 512px;
    height: 256px;
    margin: 0;
  }

  .benefits-list__item--key-point {
    width: 768px;
  }

  .benefits-list__item--general-point {
    padding: 49px;
    padding-top: 50px;
    padding-bottom: 49px;

    border: none;

    box-sizing: border-box;
  }

  .benefits-list__reason {
    margin-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .benefits-list__explanation {
    padding-top: 25px;
  }

  .benefits-list__item--common {
    margin-bottom: 66px;
    padding: 49px;
    padding-top: 164px;
    padding-bottom: 0;

    text-align: center;

    box-sizing: border-box;
  }
}

@media (min-width: 1200px) {
  .benefits-list__item {
    width: 400px;
  }

  .benefits-list__item--key-point {
    width: 1200px;
  }

  .benefits-list__text-column {
    width: 400px;
  }

  .benefits-list__reason {
    padding: 0 50px;

    font-size: 21px;
  }

  .benefits-list__image {
    width: 800px;
    height: 256px;
  }

  .benefits-list__item--common {
    margin-bottom: 85px;
  }
}
