.copyright {
  display: flex;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  line-height: 26px;
}

.copyright__link {
  position: relative;

  display: block;

  &:hover,
  &:focus {
    .copyright__icon {
      path {
        fill: $theme-color;
      }
    }
  }

  &:active {
    .copyright__icon {
      opacity: 0.3;

      path {
        fill: $black;
      }
    }
  }
}

.copyright__icon {
  margin-top: -4px;
  margin-left: 11px;
}

@media (min-width: $tablet-viewport-width) {
  .copyright {
    justify-content: flex-end;
    width: 33.33%;
    margin: 0;
    margin-top: 10px;

    text-align: right;
  }
}
