.features__announce {
  margin: 0;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

@media (min-width: $tablet-viewport-width) {
  .features__announce {
    width: 490px;
    margin: 0 auto;
  }
}
