.hashtag {
  display: block;
  margin-bottom: 36px;

  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: $black;

  &:hover,
  &:focus {
    color: $theme-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-viewport-width) {
  .hashtag {
    width: 33.33%;

    text-align: left;
  }
}
