.main-promo {
  min-height: 158px;
  margin-bottom: 43px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $blue--light;
}

.main-promo--index-page {
  min-height: 389px;
}

.main-promo__title {
  margin: 0;

  color: $sub-text-color;
}
