.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 320px;
}

.page-header__menu-toggle {
  position: absolute;
  bottom: 0;
  right: 0;

  order: 2;
}

@media (min-width: 768px) {
  .page-header {
    width: 768px;
  }

  .page-header__menu-toggle {
    display: none;
  }
}

@media (min-width: 1200px) {
  .page-header {
    width: 1200px;
  }
}
