.page-footer {
  @include centring-wrapper;
  @include centring-paddings;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: $mobile-viewport-width;
  padding-top: 41px;

  box-sizing: border-box;
}

@media (min-width: $tablet-viewport-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    min-width: $tablet-viewport-width;
    padding: 36px 60px;
  }
}

@media (min-width: $desktop-viewport-width) {
  .page-footer {
    width: $desktop-viewport-width;
    padding: 36px 120px;
  }
}
