.photo-gallery__title {
  @include centring-wrapper;

  margin-bottom: 33px;
  padding: 0 60px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

@media (min-width: $tablet-viewport-width) {
  .photo-gallery__title {
    width: 428px;
    margin-bottom: 75px;
    padding: 0;
  }
}
