.photo-frame {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 24px;
  text-align: left;

  @include photo-list__frame;
}

.photo-frame__description {
  margin: 0;

  font-weight: 700;
  color: $black;
}

.photo-frame__author {
  margin: 0;
  margin-bottom: 11px;

  text-transform: initial;
}

.photo-frame__image {
  width: 280px;
  height: 280px;
  margin-bottom: 22px;

  order: -1;
}

.photo_frame__likes {
  margin: 0;
  margin-bottom: 23px;
}

@media(min-width: 768px) {
  .photo-frame {
    width: 324px;
    margin: 0;
    padding-bottom: 21px;
  }

  .photo-frame__image {
    width: 100%;
    height: 267px;
  }

  .photo-frame__description {
    margin-left: 20px;

    font-size: 14px;
  }

  .photo-frame__author {
    margin-left: 20px;
  }

  .photo-frame__likes {
    margin-top: -50px;
    margin-left: 239px;
  }

  .photo-frame--most-popular {
    width: 648px;
  }

  .photo-frame__likes--most-popular {
    margin-left: 564px;
  }
}

@media(min-width: 1200px) {
  .photo-frame {
    width: 400px;

    color: $white;
  }

  .photo-frame__likes {
    z-index: 1;

    margin-top: -50px;
    margin-left: 315px;

    color: inherit;
  }

  .photo-frame__image {
    margin-bottom: -80px;
  }

  .photo-frame__description {
    z-index: 1;

    color: inherit;
  }

  .photo-frame__author {
    z-index: 1;
  }

  .photo-frame--most-popular {
    width: 1200px;
  }

  .photo-frame__likes--most-popular {
    margin-left: 1115px;
  }
}
