.photo-list {
  @include list-reset;
}

.photo-list__item {
  border-bottom: 1px solid $grey--lighter;

  &:first-of-type {
    border-top: 1px solid $grey--lighter;
  }
}

@media(min-width: 768px) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
  }

  .photo-list__item {
    background-color: $photo-frame-even-bg-color;
    border: none;

    &:first-of-type {
      border: none;
    }

    &:nth-of-type(2n) {
      background-color: $photo-frame-odd-bg-color;
    }
  }

  .photo-list__item--most-popular {
    background-color: $photo-frame-odd-bg-color;
  }
}
