.photo-gallery__title {
  @include centring-wrapper;
  @include centring-paddings;

  margin-bottom: 26px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

@media (min-width: $tablet-viewport-width) {
  .photo-gallery__title {
    width: 428px;
    margin-bottom: 70px;
  }
}
