.photo-frame {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 24px;
  text-align: left;

  @include photo-list__frame;
}

.photo-frame__description {
  margin: 0;

  font-weight: 700;
  color: $black;
}

.photo-frame__author {
  margin: 0;
  margin-bottom: 11px;

  text-transform: initial;
}

.photo-frame__image {
  width: 280px;
  height: 280px;
  margin-bottom: 22px;

  order: -1;
}

.photo_frame__likes {
  margin: 0;
  margin-bottom: 23px;
}

@media (min-width: 768px) {
  .photo-frame {
    flex-direction: row;
    flex-wrap: wrap;
    width: 324px;
    margin: 0;
    padding-bottom: 21px;
  }

  .photo-frame__image {
    width: 100%;
    height: 267px;
  }

  .photo-frame__description {
    margin-left: 20px;

    font-size: 14px;
  }

  .photo-frame__author {
    margin-left: 20px;
  }

  .photo-frame__likes {
    min-width: 20px;
    margin-left: auto;
    margin-right: 20px;
  }

  .photo-frame--most-popular {
    width: 648px;
  }

  .photo-frame__text-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .photo-frame {
    width: 400px;
    padding-bottom: 0;

    color: $white;
  }

  .photo-frame__likes {
    z-index: 1;

    color: inherit;
  }

  .photo-frame__image {
    margin-bottom: 0;
  }

  .photo-frame__description {
    color: inherit;
  }

  .photo-frame--most-popular {
    width: 1200px;
  }

  .photo-frame__left-column {
    z-index: 1;
  }

  .photo-frame__text-block  {
    position: relative;
    margin-top: -63px;

    &::before {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 80px;

      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
