.promo {
  @include centring-wrapper;
  @include centring-paddings;

  margin-bottom: 27px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
}

@media (min-width: $tablet-viewport-width) {
  .promo {
    width: 490px;
    margin: 0 auto;
    margin-bottom: 28px;

    font-size: 30px;
    line-height: 30px;
  }

  .promo--small {
    font-size: 21px;
    line-height: 26px;
  }
}
