.benefits-list {
  margin: 0;
  padding: 0;
}

.benefits-list__item {
  display: flex;
  flex-direction: column;
  padding-top: 33px;

  background-color: #eeeeee;
}

.benefits-list__number {
  margin: 0;
  margin-bottom: 15px;
}

.benefits-list__reason {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  order: -1;
}

.benefits-list__explanation {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}

.benefits-list__image {
  width: 320px;
  height: 260px;
}

.benefits-list__item--common {
  text-align: left;

  background-color: #ffffff;
}

.benefits-list__explanation--common {
  margin-bottom: 35px;
}

.benefits-list__item--key-point {
  background-color: #81b3d2;
  color: #ffffff;
}

.benefits-list__reason--key-point {
  color: #ffffff;
}

.benefits-list__explanation--key-point {
  margin-bottom: 42px;
}

.benefits-list__item--general-point {
  margin-bottom: 0;

  border-top: 1px solid #d6d6d6;
}

.benefits-list__explanation--general-point  {
  margin-bottom: 32px;
}

.benefits-list__item--first-general-point {
  margin-bottom: 0;

  border-top: none;
}
