.main-promo {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #abc9d9;
}

.main-promo--index-page {
  min-height: 389px;
}

.main-promo__title {
  margin: 0;

  color: #ffffff;
}
