@mixin photo-list__frame {
  margin-top: 22px;
  margin-left: 20px;
}

@mixin page-header__logo-placement {
  min-height: 56px;

  order: 2;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin viewport-width {
  min-width: $mobile-viewport-width;

  @media (min-width: $tablet-viewport-width) {
    min-width: $tablet-viewport-width;
  }

  @media (min-width: $desktop-viewport-width) {
    width: $desktop-viewport-width;
  }
}

@mixin centring-wrapper {
  margin: 0 auto;
}
