@mixin main-content__big-promo {
  margin-bottom: 43px;
}

@mixin main-content__small-promo {
  margin-bottom: 35px;
}

@mixin page-footer__hastag-placement {
  margin-bottom: 41px;
}

@mixin page-footer__social {
  margin-bottom: 40px;
}

@mixin page-footer__copyright-placement {
  margin-bottom: 23px;
}

@mixin photo-list__frame {
  margin-top: 22px;
  margin-left: 20px;
}

.main-promo {
  @include main-content__big-promo;
}

.promo {
  @include main-content__small-promo;
}

.hashtag {
  @include page-footer__hastag-placement;
}

.social-networks {
  @include page-footer__social;
}

.copyright {
  @include page-footer__copyright-placement;
}

.photo-frame {
  @include photo-list__frame;
}
