@mixin main-content__big-promo {
  margin-bottom: 43px;
}

@mixin main-content__small-promo {
  margin-bottom: 35px;
}

@mixin page-footer__hastag-placement {
  margin-bottom: 41px;
}

@mixin page-footer__social {
  margin-bottom: 40px;
}

@mixin page-footer__copyright-placement {
  margin-bottom: 23px;
}

@mixin photo-list__frame {
  margin-top: 22px;
  margin-left: 20px;
}

@mixin page-header__logo-placement {
  min-height: 36px;

  order: 2;
}
