.photo-frame {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.photo-frame__description {
  margin: 0;

  font-weight: 700;
  color: $black;
}

.photo-frame__author {
  margin: 0;
  margin-bottom: 11px;

  text-transform: initial;
}

.photo-frame__image {
  width: 280px;
  height: 280px;
  margin-bottom: 22px;

  order: -1;
}

.photo_frame__likes {
  margin: 0;
  margin-bottom: 23px;
}
